# Required — fill in before deploying
PORT=8080

ORANGEHRM_DATABASE_HOST=mariadb
ORANGEHRM_DATABASE_PORT=3306
ORANGEHRM_DATABASE_NAME=orangehrm
ORANGEHRM_DATABASE_USER=orangehrm
ORANGEHRM_DATABASE_PASSWORD=
ORANGEHRM_ADMIN_USERNAME=admin
ORANGEHRM_ADMIN_PASSWORD=
ORANGEHRM_SMTP_HOST=
ORANGEHRM_SMTP_PORT=465
ORANGEHRM_SMTP_AUTH_TYPE=ssl
ORANGEHRM_SMTP_USERNAME=
ORANGEHRM_SMTP_PASSWORD=
